@model ConsultantContractsInternal.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">EmployeeNumber</div>
    <div class="display-field">@Model.EmployeeNumber</div>

    <div class="display-label">FirstName</div>
    <div class="display-field">@Model.FirstName</div>

    <div class="display-label">LastName</div>
    <div class="display-field">@Model.LastName</div>

    <div class="display-label">Budget</div>
    <div class="display-field">@Model.Budget</div>

    <div class="display-label">Status</div>
    <div class="display-field">@Model.Status</div>

    <div class="display-label">ApplicationSecurities</div>
    <div class="display-field">@(Model.ApplicationSecurities == null ? "None" : Model.ApplicationSecurities.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


