@using System.Web.Mvc.Html
@using System.Web.Optimization
@using AHTD.Web.Helpers
@using MvcSiteMapProvider.Web.Html

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - My AHTD WebApp</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" type="Image/x-icon" />
    @Styles.Render("~/Content/global")
    @Styles.Render("~/Content/themes/metro/jquery-dropdown")
    @Styles.Render("~/Content/themes/metro/jqueryui")
    @Styles.Render("~/Content/site")
    @Styles.Render("~/Styles/CommonCSS")
    @RenderSection("styles", required: false)
    <style>
        a.approve-button {
            background: url(@Url.Content("~/Content/images/tick.png")) 6px 4px no-repeat #f3f3f3;
            padding-left: 30px;
        }

        a.reject-button {
            background: url(@Url.Content("~/Content/images/delete_red.png")) 6px 5px no-repeat #f3f3f3;
            padding-left: 30px;
        }
        a.save-button {
            background: url(@Url.Content("~/Content/images/Save3.png")) 6px 4px no-repeat #f3f3f3 ;
            width:50px;
            padding-left: 30px;
        }

        a.Edit-button {
            background: url(@Url.Content("~/Content/images/edit.png")) 6px 4px no-repeat #f3f3f3 ;
            width:40px;
            padding-left: 30px;
        }
        .searchBar {
            height: 22px;
            background-image: url(@Url.Content("~/Content/images/Apps-Search-Log-icon.png");
            background-size: 35px;
            background-repeat: no-repeat;
            background-position: left;
            padding-left: 35px;
            display: inline;
            width: 450px !important;
            font-size: 16px;
            border: 2px solid gray;
            background-position: -2px;
        }
    </style>
</head>
<body>
    <div id="global-topbar-container">
        @Html.Hidden("allotmentLookupUrl", Url.Action("GetJobName", "AllotmentsLookup"))
        <section id="global-topbar">
            <div id="global-userinfo-container">
                <span id="global-userinfo">
                    <img src="@Url.Content("~/Content/images/user-silhouette.png")" alt="User icon" />
                    @User.Identity.Name
                    <span id="global-userinfo-dropdown">▾</span>
                </span>
                <div id="global-userinfo-popup" style="display: none;">
                    @{ Html.RenderAction("Claims", "Shared"); }
                    <a id="global-userinfo-help" href="#">What are these?</a>
                </div>
            </div>
            <div id="global-links-container">
                <span id="global-homelink">
                    <a href="http://ahtdnet/">
                        <img src="@Url.Content("~/Content/images/ahtd-logo-color-24.png")" alt="AHTD Logo" />
                        AHTDnet
                    </a>
                </span>
                <span class="globalSeparator">|</span>
                <span id="global-sitemap">Site list <span id="global-sitemap-dropdown">▾</span></span>
            </div>
        </section>
        <div id="global-sitemap-container">
            <div id="global-sitemap-flyout" style="display: none;"></div>
        </div>
    </div>
    <header>
        @if (!(ViewContext.View as RazorView).ViewPath.Contains("AccessDenied"))
        {
            @Html.MvcSiteMap().Menu("DropdownMenuHelperModel", false, true, true)
        }

        @*@Html.MvcSiteMap().Menu("DropdownMenuHelperModel", false, true, true)*@

        <h1>Consultant Contracts</h1>
    </header>
    <section id="content">
        @RenderBody()
    </section>
    <footer>
        <p>&copy; @DateTime.Now.Year AHTD. All rights reserved.</p>
    </footer>
    @Scripts.Render("~/scripts/modernizr")
    @Scripts.Render("~/scripts/global")
    @Scripts.Render("~/scripts/site")
    @Scripts.Render("~/scripts/jquery-dropdown")
    @Scripts.Render("~/scripts/jqueryui")
    @Scripts.Render("~/scripts/knockout")
    <script type="text/javascript">
        //This needs to be here to be on everypage
        var logErrorUrl = '@Url.Action( "LogJavaScriptError", "Home" )';
        var currentRole = '';

        $(
            $("input[id ^= 'activate_']").change(function (e) {
                var index = this.id.slice(-1);
                var role = this.attributes["data-value"].value;
                currentRole = role;
                var roles = $("input[id ^= 'activate_']:not('#activate_1')");
                $.ajax({
                    url: '@Url.Action("ChangeRole", "Shared")',
                    type: 'POST',
                    data: JSON.stringify({ newRole: role }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json'
                }).done(function (data) {
                    alert("role changed");
                    $('#global-userinfo-popup').style.display = 'none';
                });
            })
        )
        $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("GetCurrentRole","Shared")',
                type: 'GET',
                data: {userName: "@Context.User.Identity.Name.Substring(Context.User.Identity.Name.IndexOf('\\')+1)"},
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
            }).done(function (data) {
                currentRole = data.role;
                var roles = $("input[id ^= 'activate_']:not('#activate_1')");
                for (var i = 0; i < roles.length; i++) {
                    if (currentRole === roles[i].getAttribute('data-value')) {
                        roles[i].checked = true;
                    }
                }
            });
        })
    </script>
    <script src="@Url.Content( "~/Scripts/Shared/ErrorLogging.js" )" type="text/javascript"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
